# ==========================================
# Configuration Gitignore - Projet Scoring PFE
# ==========================================

# --- Front-end Angular ---
/node_modules/
/dist/
/out-tsc/
/.angular/cache/
frontend/package-lock.json

# --- Back-end Java Spring Boot ---
/target/
**/target/
**/build/
*.class

# --- IDEs et Éditeurs de code ---
/.idea/
*.iml
*.iws
*.ipr
/.project
/.classpath
/.settings/
.vscode/

# --- Système d'exploitation ---
.DS_Store
Thumbs.db

# --- Fichiers d'environnement et secrets ---
.env
.env.*
application-prod.yaml
application-prod.yml
application-secret.yaml
application-secret.yml

# --- Logs ---
*.log
logs/
npm-debug.log
yarn-error.log

# --- Python & Machine Learning (ml-service) ---
**/__pycache__/
*.py[cod]
*$py.class
ml-service/venv/
ml-service/.venv/
env/
.ipynb_checkpoints/

# --- BLOCAGE DES FICHIERS DE DONNÉES ET MODÈLES LOURDS 🚨 ---
ml-service/data/
ml-service/models/*.pkl
ml-service/models/*.csv
*.pkl
*.csv